<app-header-menu titleKey="menu.settings.title"></app-header-menu>

<div class="settings-container">
    <!-- Export Section -->
    <app-message #exportMessage></app-message>
    <div class="export-section">
        <h4>{{ 'menu.settings.exportData.title' | transloco }}</h4>
        <p>{{ 'menu.settings.exportData.description' | transloco }}</p>
        <button class="export-btn" (click)="exportData()" type="button">
            {{ 'menu.settings.exportData.button' | transloco }}
        </button>
    </div>

    <!-- Import Section -->
    <app-message #importMessage></app-message>
    <div class="import-section">
        <h4>{{ 'menu.settings.importData.title' | transloco }}</h4>
        <p>
            {{ 'menu.settings.importData.description' | transloco }}
            <b class="warning">{{ 'menu.settings.importData.warning' | transloco }}</b>
        </p>
        <div class="file-input-container">
            <input type="file" id="importFile" accept=".json,application/json" (change)="onFileSelected($event)"
                class="file-input">
            <label for="importFile" class="file-input-label">
                {{ 'menu.settings.importData.button' | transloco }}
            </label>
        </div>
    </div>

    <!-- Delete Section -->
    <app-message #deleteMessage></app-message>
    <div class="export-section">
        <h4>{{ 'menu.settings.deleteData.title' | transloco }}</h4>
        <p>
            {{ 'menu.settings.deleteData.description' | transloco }}
            <b class="warning">{{ 'menu.settings.deleteData.warning' | transloco }}</b>
        </p>
        <button class="delete-btn" (click)="deleteData()" type="button">
            {{ 'menu.settings.deleteData.button' | transloco }}
        </button>
    </div>
</div>